<div class="p-4 w-full lg:w-6">
  <div class="text-center mb-5">
    <div class="text-900 text-3xl font-medium mb-3" i18n>Welcome Back</div>
  </div>
  <div [formGroup]="loginFormGroup">
    <app-input
      labelClasses="block text-900 font-medium mb-2"
      i18n-label
      [label]="'Username'"
      formControlName="username"
      [withErrors]="true"
    />
    <app-input
      labelClasses="block text-900 font-medium mb-2 mt-2"
      i18n-label
      type="password"
      [label]="'Password'"
      formControlName="password"
      [withErrors]="true"
    />
    <div class="flex align-items-center justify-content-end mt-2 mb-6">
      <a
        i18n
        class="font-medium no-underline ml-2 text-blue-500 text-right cursor-pointer"
      >
        Forgot password?
      </a>
    </div>
    <button
      (click)="signIn()"
      pButton
      pRipple
      label="Sign In"
      icon="pi pi-user"
      class="w-full"
    ></button>
  </div>
</div>
