<section class="firssection">
    <h3>Our centers</h3>
    <section class="home-centers">
        <article *ngFor="let center of centers" class="center">
            <div class="center__info">
                <div class="center-name">
                    {{center.name}}
                </div>
                <div class="center-address">
                    {{center.city}}, {{center.address}}
                </div>
                <div class="center-address">
                    Phone: {{center.phone}}
                </div>
            </div>
            <div class="agroup">
                <a>See pets</a>
                <a>More info</a>
            </div>
        </article>
    </section>
</section>