<section>
  <article>
    <a>Support as</a>
    <a>Support pet</a>
    <div class="info__button__min">
      <div class="square">
        <img src="/assets/dog.svg" />
        <span class="info__min__span">Dogs</span>

      </div>
      <div class="square" routerLink="pets/cats">
        <img src="/assets/cat.svg" />
        <span class="info__min__span">Cats</span>
      </div>
      <div class="square">
        <img src="/assets/last.svg" />
        <span class="info__min__span">Other pets</span>
      </div>
    </div>
  </article>
  <div class="info__button">
    <div class="square">
      <img src="/assets/dog.svg" />
      Dogs
    </div>
    <div class="square">
      <img src="/assets/cat.svg" />
      Cats
    </div>
    <div class="square">
      <img src="/assets/last.svg" />
      Other pets
    </div>
  </div>
  <app-home-centers></app-home-centers>
</section>
