<app-dialog>
  <ng-container ngProjectAs="content">
    <div class="row-gap-0">
      <div class="col-3 text-xl text-900 font-bold" i18n>Address configuration</div>
    </div>
    <ca-address [formControl]="form()"></ca-address>
  </ng-container>
  <ng-container ngProjectAs="footer">
    <p-button i18n-label label="Back" back [rounded]="true" (onClick)="back()" />
    <p-button i18n-label label="Cancel" (onClick)="cancel()" [rounded]="true" />
    <p-button i18n-label label="Next" [rounded]="true" (onClick)="next()" />
  </ng-container>
</app-dialog>
