<app-dialog>
  <ng-container ngProjectAs="content">
    <div class="row-gap-0">
      <div class="col-3 text-xl text-900">Address configuration</div>
    </div>
    <div class="row-gap-0 mt-3" [formGroup]="form()">
      <div class="col-3">
        <app-input
          i18-label
          label="Address"
          formControlName="address"
          class="w-full"
          [withErrors]="true"
        />
      </div>
      <div class="col-3 flex gap-2">
        <app-input
          i18-label
          label="House"
          formControlName="house"
          [withErrors]="true"
        />
        <app-input
          i18-label
          label="Door"
          formControlName="door"
          [withErrors]="true"
        />
      </div>
      <div class="col-3 flex gap-2">
        <app-input
          i18-label
          label="Postal code"
          formControlName="postalCode"
          [withErrors]="true"
        />
        <app-input
          i18-label
          label="City"
          formControlName="city"
          [withErrors]="true"
        />
      </div>
      <div class="col-3">
        <app-input
          i18-label
          label="Country"
          formControlName="country"
          class="w-full"
          [withErrors]="true"
        />
      </div>
    </div>
  </ng-container>
  <ng-container ngProjectAs="footer">
    <p-button label="Back" back [rounded]="true" />
    <p-button label="Cancel" (onClick)="cancel()" [rounded]="true" />
    <p-button label="Next" [rounded]="true" (onClick)="next()" />
  </ng-container>
</app-dialog>
