<article *ngIf="photos" class="photos" [class.round]='!more'>
  <div class="left" *ngIf="more" (click)="leftImage()"></div>
  <ng-content></ng-content>
  <img
    [class.moreimg]="more === true"
    [class.full-height]="more === false"
    class="imgappear"
    src="{{ photos[photoindex].url }}"
    height="200"
    alt=""
    #imgelement
    [class.round]='!more'
  />
  <div class="petschoices" *ngIf="more">
    <span
      *ngFor="let i of photos; let index = index"
      class="circle"
      [class.circle__selected]="photoindex === index"
      (click)="circleClick(index)"
    ></span>
  </div>
  <div class="right" *ngIf="more" (click)="rightImage()"></div>
</article>
