article {
  width: 100%;
  position: relative;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                        supported by Chrome, Edge, Opera and Firefox */
}
.round{
  border-radius: 10px;
}
img {
  object-fit: fill;
  width: 100%;
}
.left {
  position: absolute;
  left: 0;
  z-index: 100;
}
.left:hover, .right:hover{
  opacity: .5;
}
.left::before {
  content: " ";
  position: absolute;
  top: 50%;
  left: 15px;
  width: 20px;
  height: 5px;
  border: 0.1rem solid slategray;
  background-color: slategray;
  transform: rotateZ(45deg);
}
.left::after{
  content: " ";
  position: absolute;
  top: calc(50% - 13px);
  left: 15px;
  width: 20px;
  height: 5px;
  border: 0.1rem solid slategray;
  background-color: slategray;
  transform: rotateZ(-45deg);
}
.right::after, .right::before{
  content: " ";
  position: absolute;
  top: calc(50%);
  right: 15px;
  width: 20px;
  height: 5px;
  border: 0.1rem solid slategray;
  background-color: slategray;
}
.right::after{
  transform: rotateZ(-45deg);
}
.right::before{
  transform: rotateZ(45deg);
  top: calc(50% - 13px);
}
.right {
  position: absolute;
  right: 0;
}
.left,
.right {
  cursor: pointer;
  box-sizing: border-box;
  box-sizing: border-box;
  background-color: #bfbfbf;
  padding: 0.5rem;
  width: 3.5rem;
  height: 100%;
}
.imgappear {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
  animation: appear 0.5s ease forwards;
}
.animationnone {
  animation: none;
}
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.photos {
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
  box-sizing: border-box;
}
.petschoices {
  position: absolute;
  margin: auto;
  justify-self: center;
  width: 60%;
  bottom: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (min-width: 400px) {
  img {
    object-fit: fill;
  }
  .moreimg {
    object-fit: scale-down;
    height: 30rem;
  }
}
@media (min-width: 1000px) {
  img {
    max-width: 100%;
    object-fit: cover;
  }
  .moreimg {
    object-fit: none;
    height: 30rem;
  }
}
.circle::after {
  content: " ";
  width: 0.4rem;
  height: 0.4rem;
  position: absolute;
  background-color: white;
  border: 0.3rem solid slategray;
  border-radius: 100%;
  cursor: pointer;
}

.circle__selected::after {
  background-color: gray;
}
