PasswordMenager/frontend/node_modules/
PetShelter/backend/__pycache__/crud.cpython-38.pyc
PetShelter/backend/__pycache__/main.cpython-38.pyc
PetShelter/backend/__pycache__/models.cpython-38.pyc
PetShelter/backend/__pycache__/schemas.cpython-38.pyc
.github/
.vscode/
Cookgram/backend/target
Cookgram/backend/Cargo.lock
**/**/.env
**/**/.gitignore