<app-dialog>
  <ng-container ngProjectAs="content">
    <div class="row-gap-0">
      <div class="col-3 text-xl text-900 font-bold" i18n>
        User general information
      </div>
    </div>
    <div class="row-gap-0 mt-3" [formGroup]="form()">
      <div class="col-3">
        <app-input i18n-label [required]="true" label="First name" formControlName="firstName" class="w-full"
          [withErrors]="true" />
      </div>
      <div class="col-3">
        <app-input i18n-label [withErrors]="true" [required]="true" label="Second name" formControlName="secondName" />
      </div>

      <div class="col-3 gap-2 flex flex-column">
        <app-date-input i18n-label label="Brith day" [required]="true"
          [control]="form().controls.birthDate" />
        <!-- <label i18n class="block text-900 font-medium" for="buttondisplay">
          Birth day <app-required-dot />
        </label>
        <p-calendar
          class="w-full max-w-full"
          formControlName="birthDate"
          [showIcon]="true"
          [showOnFocus]="false"
          inputId="buttondisplay" /> -->
      </div>
      <div class="col-3 gap-2 flex flex-column">
        <label for="genderdropdown" class="block text-900 font-medium" i18n>
          Gender
        </label>
        <p-dropdown class="w-full" formControlName="gender" [options]="genders" inputId="genderdropdown">
        </p-dropdown>
      </div>
    </div>
  </ng-container>
  <ng-container ngProjectAs="footer">
    <p-button i18n-label label="Cancel" (onClick)="cancel()" [rounded]="true" />
    <p-button i18n-label label="Next" [rounded]="true" (onClick)="next()" />
  </ng-container>
</app-dialog>