<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Blank </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header> <ion-card-title> Login</ion-card-title></ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Login</ion-label>
        <ion-input placeholder="Login" type="text"> </ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Password</ion-label>
        <ion-input placeholder="Password" type="password"> </ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
