<div class="user-details">
    <p-panel [style]="{width: '100%'}">
        @if(!user()){
        <div>
            <p-skeleton styleClass="mb-2" />
            <p-skeleton width="10rem" styleClass="mb-2" />
            <p-skeleton width="5rem" styleClass="mb-2" />
            <p-skeleton height="2rem" styleClass="mb-2" />
            <p-skeleton width="10rem" height="4rem" />
        </div>
        }
        <div *ngIf="user()" class="grid">
            <div class="col-3">
                <app-read-only [title]="'Name'">
                    {{ (user()?.personalInformation?.firstName) + ' ' + (user()?.personalInformation?.lastName) }}
                </app-read-only>
            </div>
            <div class="col-3">
                <app-read-only [title]="'Email'">
                    {{ user()?.personalInformation?.email }}
                </app-read-only>
            </div>
            <div class="col-3">
                <app-read-only [title]="'Phone'">
                    {{ user()?.personalInformation?.contacts?.phone }}
                </app-read-only>
            </div>
            <div class="col-3">
                <app-read-only [title]="'Gender'">
                    {{ user()?.personalInformation?.gender }}
                </app-read-only>
            </div>
            <div class="col-3">
                <app-read-only [title]="'Role'">
                    <p-chip label="{{ user()?.roles}}"></p-chip>
                </app-read-only>
            </div>
            <div class="col-3">
                <app-read-only [title]="'State'">
                    <p-chip label="{{user()?.state?.current}}"></p-chip>
                </app-read-only>
            </div>
        </div>
    </p-panel>
    <p-panel header="Address Details" [style]="{width: '100%', marginTop: '1rem'}">
        @if(!user()){
        <div>
            <p-skeleton styleClass="mb-2" />
            <p-skeleton width="10rem" styleClass="mb-2" />
            <p-skeleton width="5rem" styleClass="mb-2" />
        </div>
        }

        <div *ngIf="user()">
            <div class="grid">
                <div class="col-4">
                    <app-read-only [title]="'Address'">
                        {{ user()?.address?.address }}
                    </app-read-only>
                </div>
                <div class="col-4">
                    <app-read-only [title]="'House'">
                        {{ user()?.address?.house }}
                    </app-read-only>
                </div>
                <div class="col-4">
                    <app-read-only [title]="'Door'">
                        {{ user()?.address?.door }}
                    </app-read-only>
                </div>
                <div class="col-4">
                    <app-read-only [title]="'City'">
                        {{ user()?.address?.city }}
                    </app-read-only>
                </div>
                <div class="col-4">
                    <app-read-only [title]="'Country'">
                        {{ user()?.address?.country }}
                    </app-read-only>
                </div>
                <div class="col-4">
                    <app-read-only [title]="'Postal Code'">
                        {{ user()?.address?.postal_code }}
                    </app-read-only>
                </div>
                <div class="col-4">
                    <app-read-only [title]="'Location'">
                        <ng-container>
                            Lat: {{ user()?.address?.location?.latitude }}, Lng: {{ user()?.address?.location?.longitude
                            }}
                        </ng-container>
                    </app-read-only>
                </div>
            </div>
        </div>
    </p-panel>
</div>