<div class="user-details">
    <p-panel [style]="{width: '100%'}">
        <div class="button-container">
            <p-button type="button" label="Edit" icon="pi pi-pencil" class="p-button-primary"></p-button>
        </div>
        <div *ngIf="!user()" >
            <p-skeleton styleClass="mb-2" />
            <p-skeleton width="10rem" styleClass="mb-2" />
            <p-skeleton width="5rem" styleClass="mb-2" />
            <p-skeleton height="2rem" styleClass="mb-2" />
            <p-skeleton width="10rem" height="4rem" />
        </div>
        <div *ngIf="user()" class="p-grid">
            <div class="p-col-12 p-md-6">
                <p><strong>Name:</strong> {{ user()?.personalInformation?.firstName || 'N/A' }} {{
                    user()?.personalInformation?.lastName || 'N/A' }}</p>
            </div>
            <div class="p-col-12 p-md-6">
                <p><strong>Email:</strong> {{ user()?.personalInformation?.email || 'N/A' }}</p>
            </div>
            <div class="p-col-12 p-md-6">
                <p><strong>Phone:</strong> {{ user()?.personalInformation?.contacts?.phone || 'N/A' }}</p>
            </div>
            <div class="p-col-12 p-md-6">
                <p><strong>Address:</strong> {{ user()?.address || 'N/A' }}</p>
            </div>
            <div class="p-col-12 p-md-6">
                <p><strong>Gender:</strong> {{ user()?.personalInformation?.gender || 'N/A' }}</p>
            </div>
            <div class="p-col-12 p-md-6">
                <p><strong>Role:</strong> <p-chip label="{{ user()?.roles || 'N/A' }}"></p-chip></p>
            </div>
            <div class="p-col-12 p-md-6">
                <p><strong>State:</strong> <p-chip label="{{ user()?.state?.current || 'N/A' }}"></p-chip></p>
            </div>
        </div>
    </p-panel>
</div>