<div class="user-details">
    <p-panel [style]="{width: '100%'}">
        <div class="button-container">
            <p-button type="button" label="Edit" icon="pi pi-pencil" class="p-button-primary"></p-button>
        </div>
        <div class="p-grid">
            <div class="p-col-12 p-md-6">
                <p><strong>Name:</strong> John Doe</p>
            </div>
            <div class="p-col-12 p-md-6">
                <p><strong>Email:</strong> john.doe&#64;example.com</p>
            </div>
            <div class="p-col-12 p-md-6">
                <p><strong>Phone:</strong> +123456789</p>
            </div>
            <div class="p-col-12 p-md-6">
                <p><strong>Address:</strong> 123 Main St, City, Country</p>
            </div>
        </div>

    </p-panel>
</div>