.map-container {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 20px;
  width: 75%;
  margin: 20px auto;
  justify-content: center;
  align-items: center;
  z-index: 90;
}
#map {
  height: 25rem;
}
