<ng-container *ngIf="pets && petsShow" class="pets">
  <section *ngIf="pets.length > 0; else noPet" class="pets">
    <article *ngFor="let pet of pets" class="pet" [routerLink]="choosePet(pet)">
      <app-pet-photos class="photo" [petid]="pet.id" [more]="false">
        <div class="pet__name__photo">
          <span>{{ pet.name }}</span>
        </div>
      </app-pet-photos>
      <div class="pet__info">
        <div class="info__name">
          <span>{{ pet.name }}</span>
        </div>
        <div class="pet__description">
          <span>
            {{ pet.short_description }}
          </span>
        </div>
        <div class="info">
          <span class="first">Weight</span>
          <span class="second">{{ pet.weight + " Kg" }}</span>
        </div>
        <div class="info">
          <span class="first"> Brithday </span>
          <span class="second">
            {{ pet.brithdate | date: "shortDate" }}
          </span>
        </div>
      </div>
    </article>
  </section>
</ng-container>
<ng-template #noPet>
  <div class="nopet"><div>No pet found</div></div>
</ng-template>
