<header>
  <a routerLink="/">
    <img width="48px" height="48px" src="/assets/Tribal-Kitten.svg" />
  </a>
  <nav class="other-links">
    <div class="nasted">
      <a>Pets</a>
      <a (click)='resetCSSClasses()' routerLink="about">About</a>
      <a>Support as</a>
      <a>Support pet</a>
    </div>
    <div class="hamburger" (click)='hamburgerClick()'>
      <span class="first-line"></span>
      <span class="second-line">
      </span><span class="third-line"></span>
    </div>
  </nav>
</header>
