<ng-container *ngIf="pet">
  <div class="row gx-5 p-3 justify-content-center mt-3 me-0">
    <div class="col-sm-12 col-lg-6">
      <div class="card border-light mb-3">
        <div class="card-header">
          <span class="display-6"> Support {{ pet.name }}</span>
        </div>
        <div class="card-body">
          <h5 class="card-title pointer-event" [routerLink]="[shelterLink]">
            {{ fullAddress }}
          </h5>
          <div class="row">
            <div class="col-lg-12 col-12">
              <img [src]="examplePhotoUrl" class="img-fluid" alt="Pet photo" />
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-12">
              <span class="fs-5">
                Your donation will support {{ pet.name }}. {{ pet.name }} will
                be waiting for adoption. Donation could cover
              </span>
            </div>
          </div>
          <div class="row flex-wrap g-4 mt-2">
            <div
              class="col-4 fs-3 d-flex flex-column justify-content-center align-items-center"
            >
              <i class="bi bi-basket"></i>
              <span class="fs-6">Food</span>
            </div>
            <div
              class="col-4 fs-3 d-flex flex-column justify-content-center align-items-center"
            >
              <i class="bi bi-bandaid"></i>
              <span class="fs-6">Healthcare</span>
            </div>
            <div
              class="col-4 fs-3 d-flex flex-column justify-content-center align-items-center"
            >
              <i class="bi bi-brightness-high"></i>
              <span class="fs-6">Walks</span>
            </div>
            <div
              class="col-4 fs-3 d-flex flex-column justify-content-center align-items-center"
            >
              <i class="bi bi-heart-fill"></i>
              <span class="fs-6">And more ... </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-lg-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Donation amount</h5>
          <p class="card-text">Donation will be charged in dollars</p>
          <div class="row row-cols-2 row-cols-lg-4 g-2 g-lg-3">
            <button
              (click)="selectDonationCost(donationCost, buttonElement)"
              *ngFor="let donationCost of donationValues"
              type="button"
              class="btn btn-outline-primary rounded-5 btn-sm p-1"
              #buttonElement>
              {{ donationCost | currency }}
            </button>
          </div>
          <div class="row flex-column mt-4">
            <div class="col mt-4 mb-3">
              <h5 class="card-title">Your Contact Information</h5>
            </div>
            <div class="col">
              <form [formGroup]="form">
                <div class="row mt-4">
                  <div class="col">
                    <input
                      type="text"
                      formControlName="firstName"
                      class="form-control"
                      placeholder="First name"
                      aria-label="First name"
                      autofocus
                    />
                  </div>
                  <div class="col">
                    <input
                      type="text"
                      placeholder="First name"
                      aria-label="First name"
                      formControlName="lastName"
                      placeholder="Last name"
                      aria-label="Last name"
                      class="form-control"
                    />
                  </div>
                </div>
                <div class="row mt-4">
                  <div class="col">
                    <input
                      formControlName="email"
                      class="form-control"
                      type="email"
                      placeholder="Email"
                      aria-label="Email"
                    />
                  </div>
                  <div class="col">
                    <input
                      formControlName="confirmEmail"
                      class="form-control"
                      type="email"
                      placeholder="Confirm email"
                      aria-label="Confirm email"
                    />
                  </div>
                </div>

                <div class="row flex-column">
                  <div class="col mt-4 mb-3">
                    <h5 class="card-title">Message for our support team</h5>
                  </div>
                  <div class="col">
                    <textarea
                      formControlName="message"
                      class="form-control"
                      rows="10"
                    ></textarea>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
