article{
    width: 100%;
    position: relative;
}
img{
    object-fit: cover;
    width: 100%;
}
.photos{
    display: flex;
    justify-content: center;
}
.petschoices{
    position: absolute;
    margin: auto;
    justify-self: center;
    width: 60%;
    bottom: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
@media (min-width: 400px) {
    img{
        object-fit: fill;
    }
}
@media (min-width: 1000px){
    img{
        max-width: 100%;
        object-fit: cover;
    }
}
.circle::after{
    content: " ";
    width: .4rem;
    height: .4rem;
    position: absolute;
    background-color: white;
    border: .3rem solid slategray;
    border-radius: 100%;
    cursor: pointer;
}

.circle__selected::after{
    background-color: gray;
}