<ng-container [formGroup]="form">
  <div class="row-cols-1">
    <div class="col">
      <h1 class="display-6">Forgot password</h1>
      <p class="lead">
        To reset your password, please enter your email below. Password reset
        instructions will be sent to the email address associated with your
        account.
      </p>
    </div>
    <div class="col">
      <label class="form-label">Email</label>
      <input
        type="email"
        class="form-control"
        placeholder="example@example.com"
        formControlName="email"
      />
    </div>
    <div class="d-grid gap-2 col-6 mx-auto mt-3">
      <button type="submit" class="btn btn-light btn-lg text-dark">
        Submit
      </button>
    </div>
  </div>
</ng-container>
