.shelter__header {
  display: flex;
  align-items: cneter;
  align-content: center;
  margin-left: 1rem;
  margin-top: 1.5rem;
  box-sizing: border-box;
  padding: 0 1rem;
  &  app-icon {
    margin: auto 0;
    fill: #bbb;
  }
  &  button {
    background: none;
    border: none;
    padding: 0.5rem 2rem;
    border: 0.15rem solid #bbb;
    border-radius: 15px;
    font-size: 16px;
  }

  &  button:hover {
    background-color: #bbb;
    color: white;
    cursor: pointer;
  }
}

.shelter__contact_info {
  justify-self: flex-end;
  padding: 2rem;
}
.shelter__info {
  padding: 0.5rem 1.4rem;
  font-size: 1.1rem;
  box-sizing: border-box;

  &  * {
    width: 100%;
    padding: 0.3rem;
  }
}
.info__name {
  font-size: 1.6rem;
}
.info__address,
.info__phone {
  margin-top: 0.8rem;
}
.bold {
  font-weight: bold;
}

hr {
  border-top: 3px solid #bbb;
  opacity: 0.4;
  margin: 0.5rem 1.4rem;
  border-radius: 10px;
}

.email__info {
  font-size: 18px;
  padding-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  &  * {
    display: inline-block;
    margin: 0 0.5rem;
  }
  &  app-icon {
    fill: #bbb;
    transform: scale(0.75);
  }
}

.email__info .email__info .pet__button {
  width: 100%;
}
