<div *ngIf="center">
  <div class="shelter__info">
    <div class="info__name">
      {{ center.name }}
    </div>
    <div class="info__address">
      <span class="bold">Adress:</span>
      <span>
        {{ center.city }},
        {{ center.address }}
      </span>
    </div>
    <div class="info__phone">
      <span class="bold">Phone: </span><span> {{ center.phone }}</span>
    </div>
  </div>
  <hr style="border-top: 3px solid #bbb;margin: .5rem 1.4rem;">
  <div class="shelter__info">
    {{center.description}}
  </div>
  <app-shelterpets [pets]='pets'></app-shelterpets>
</div>
