<div *ngIf="center">
  <div class="shelter__header ms-3">
    <app-icon [iconType]="icons.PetCenter"></app-icon>
    <div class="shelter__info">
      <div class="info__name">
        {{ center.name }}
      </div>
      <div class="info__address">
        <span class="bold">Adress:</span>
        <span>
          {{ center.city }},
          {{ center.address }}
        </span>
      </div>
      <div class="info__phone">
        <span class="bold">Phone: </span><span> {{ center.phone }}</span>
      </div>
    </div>
    <div class="shelter__contact_info">
      <button type="button" class="pet__button">Check our pets</button>
      <div class="email__info">
       <app-icon [iconType]="icons.Email"></app-icon>
        <a [href]="this.emailPath" class="email__info__value">
          {{ center.email }}
        </a>
      </div>
    </div>
  </div>
  <hr />
  <div class="shelter__info">
    <div class="display-6 ms-3">Center location</div>
    <app-map></app-map>
  </div>
  <div class="shelter__info">
    <div class="display-6 ms-3">Description</div>
    <span class="ms-4">{{ center.description }}</span>
  </div>
  <!--<app-shelterpets [pets]="pets"></app-shelterpets>-->
</div>
