<app-dialog>
  <ng-container ngProjectAs="content">
    <div class="row-gap-0">
      <div class="col-3 text-xl text-900" i18n>Summary</div>
    </div>
    <div class="row-gap-0 mt-2">
      <div class="col-3 text-lg text-900" i18n>General information</div>
    </div>
    <div class="flex gap-1">
      <div class="col-3">
        <app-read-only i18n-title title="First name">{{
          generalFormValue().firstName
        }}</app-read-only>
      </div>
      <div class="col-3">
        <app-read-only i18n-title title="Second name">{{
          generalFormValue().secondName
        }}</app-read-only>
      </div>
      <div class="col-3">
        <app-read-only i18n-title title="Birth date">{{
          generalFormValue().birthDate
        }}</app-read-only>
      </div>
      <div class="col-3">
        <app-read-only i18n-title title="Gender">{{
          generalFormValue().gender
        }}</app-read-only>
      </div>
    </div>
    <div class="row-gap-0 mt-2">
      <div class="col-3 text-lg text-900" i18n>Access configuration</div>
    </div>
    <div class="flex gap-1">
      <div class="col-3">
        <app-read-only i18n-title title="Email">{{
          accessConfigurationValue().email
        }}</app-read-only>
      </div>
      <div class="col-3">
        <app-read-only i18n-title title="Username">{{
          accessConfigurationValue().username
        }}</app-read-only>
      </div>
      <div class="col-3">
        <app-read-only i18n-title title="Password">******</app-read-only>
      </div>
      <div class="col-3">
        <app-read-only i18n-title title="Is password temporary">{{
          accessConfigurationValue().temporaryPassword ? "Yes" : "No"
        }}</app-read-only>
      </div>
    </div>
    <div class="row-gap-0 mt-2">
      <div class="col-3 text-lg text-900" i18n>User adddress</div>
    </div>
    <div class="flex gap-1">
      <div class="col-3">
        <app-read-only i18n-title title="Address">{{
          addressValue().address
        }}</app-read-only>
      </div>
      <div class="col-3">
        <app-read-only i18n-title title="House">{{
          addressValue().house
        }}</app-read-only>
      </div>
      <div class="col-3">
        <app-read-only i18n-title title="Door">{{
          addressValue().door
        }}</app-read-only>
      </div>
    </div>
    <div class="flex gap-1">
      <div class="col-3">
        <app-read-only i18n-title title="Postal code">{{
          addressValue().postalCode
        }}</app-read-only>
      </div>
      <div class="col-3">
        <app-read-only i18n-title title="City">{{
          addressValue().city
        }}</app-read-only>
      </div>
      <div class="col-3">
        <app-read-only i18n-title title="Country">{{
          addressValue().country
        }}</app-read-only>
      </div>
    </div>
  </ng-container>
</app-dialog>
