<section class="pet-filter-section">
  <form [formGroup]="filterForm">
    <div class="select-component">
      <label for="breed">Breed</label>
      <select formControlName="breed" name="breed" id="breed-select">
        <option [value]="breed.id" *ngFor="let breed of petBreeds">
          {{ breed.value }}
        </option>
      </select>
    </div>
    <div class="select-component">
      <label for="gender">Gender</label>
      <select name="gender" id="gender-select" formControlName="gender">
        <option [value]="gender.id" *ngFor="let gender of genders">
          {{ gender.value }}
        </option>
      </select>
    </div>
    <div class="select-component">
      <label for="size">Size</label>
      <select name="size" id="pet-size" formControlName="size">
        <option [value]="size.id" *ngFor="let size of petsize">
          {{ size.value }}
        </option>
      </select>
    </div>
  </form>
</section>
