<section class="pet-filter-section">
  <form [formGroup]="filterForm">
    <div *ngIf="clearButtonVisible()" class="select-component button-component">
      <label for=""></label>
      <button (click)="buttonClearEvent()" class="clear_button">
        Clear filters
      </button>
    </div>
    <sh-select-list
      label="Size"
      (selectEmit)="selectPetBreedHandle($event)"
      placeholder="Pet breed"
      [key]="'value'"
      [selectList]="petBreeds"
      [control]="filterForm.controls['breed_id']"
    ></sh-select-list>
    <sh-select-list
      label="Size"
      (selectEmit)="selectPetGenderHandle($event)"
      placeholder="Pet size"
      [key]="'value'"
      [selectList]="genders"
      [control]="filterForm.controls['breed_id']"
    ></sh-select-list>
    <sh-select-list
      label="Size"
      (selectEmit)="selectPetSizeHandle($event)"
      placeholder="Pet size"
      [key]="'value'"
      [selectList]="petsize"
      [control]="filterForm.controls['breed_id']"
    ></sh-select-list>
    <ng-container>
      <div class="chip-container">
        <chip
          *ngFor="let filterVal of savedFilterValue"
          [label]="filterVal"
          [closeHandle]="true"
        ></chip>
      </div>
    </ng-container>
  </form>
</section>
