<app-dialog>
  <ng-container ngProjectAs="content">
    <div class="row-gap-0">
      <div class="col-3 text-xl text-900" i18n>Access configuration</div>
    </div>
    <div class="row-gap-0 mt-3" [formGroup]="form()">
      <div class="col-3">
        <app-input
          label="Username"
          formControlName="username"
          class="w-full"
          [withErrors]="true"
        />
      </div>

      <div class="col-3">
        <app-input
          label="Password"
          formControlName="password"
          class="w-full"
          [withErrors]="true"
        />
      </div>
      <div class="col-3">
        <app-input
          label="Confirm password"
          formControlName="confirmPassword"
          class="w-full"
          [withErrors]="true"
        />
      </div>
      <div class="col-3">
        <app-input
          label="Password"
          formControlName="password"
          class="w-full"
          [withErrors]="true"
        />
      </div>
      <div class="col-3 flex align-items-center gap-2">
        <label for="switch1">Password is temporary</label>
        <p-inputSwitch pTooltip="User will be asked to change password, after first log in"  inputId="switch1" formControlName="temporaryPassword" />
      </div>
    </div>
  </ng-container>
</app-dialog>
