<app-dialog>
  <ng-container ngProjectAs="content">
    <div class="grid">
      <div class="col-3 text-xl text-900 font-bold" i18n>
        Access configuration
      </div>
    </div>
    <ng-container [formGroup]="form()">
      <div class="grid mt-3">
        <div class="col-3">
          <app-input
            i18n-label
            label="Username"
            formControlName="username"
            class="w-full"
            [withErrors]="true"
          />
        </div>
        <div class="col-3">
          <app-input
            [withErrors]="true"
            i18n-label
            label="Email"
            formControlName="email"
            [withErrors]="true"
          />
        </div>
      </div>
      <div class="grid">
        <div class="col-3">
          <app-input
            i18n-label
            type="password"
            label="Password"
            formControlName="password"
            class="w-full"
            [withErrors]="true"
          />
        </div>
        <div class="col-3">
          <app-input
            i18n-label
            type="password"
            label="Confirm password"
            formControlName="confirmPassword"
            class="w-full"
            [withErrors]="true"
          />
        </div>
      </div>
      <div class="grid">
        <div class="col-3 flex align-items-center gap-2">
          <label for="switch1" i18n>Password is temporary</label>
          <p-inputSwitch
            i18n-pTooltip
            pTooltip="User will be asked to change password, after first log in"
            inputId="switch1"
            formControlName="temporaryPassword"
          />
        </div>
      </div>
      <div class="grid">
        <div class="col-3">
          <p-dropdown placeholder="Role" [options]="roles"></p-dropdown>
        </div>
      </div>
    </ng-container>
  </ng-container>
  <ng-container ngProjectAs="footer">
    <p-button
      i18n-label
      label="Back"
      back
      [rounded]="true"
      (onClick)="back()"
    />
    <p-button i18n-label label="Cancel" (onClick)="cancel()" [rounded]="true" />
    <p-button i18n-label label="Next" [rounded]="true" (onClick)="next()" />
  </ng-container>
</app-dialog>
