article{
}
nav{
    display: flex;
    padding: .5rem;
    justify-content: flex-start;
    align-items: cetner;
}
nav > a{
    padding: .5rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}
nav > a:hover{

}